# Project Config
#-------------------------
.vscode
.vs

# *NIX Output
#-------------------------
*.[Oo]
*.[Aa]
*.[Ss][Oo]
*.[Ee][Ll][Ff]
*.[Mm][Aa][Pp]

# MSVC Win32 Output
#-------------------------
*.[Oo][Bb][Jj]
*.[Ll][Ii][Bb]
*.[Ee][Xx][Ee]
*.[Dd][Ll][Ll]
*.[Pp][Dd][Bb]

# Other Artifacts
#-------------------------
*.[Oo].[Tt][Xx][Tt]

# Excludes
#-------------------------


# Includes
#-------------------------
!.gitkeep
